{% extends "page.html" %}

{% block content %}
    <table class="ascii">
        <caption>ASCII characters</caption>
        <thead>
            <tr>
                <th>Hex</th>
                <th>Dec</th>
                <th>Char</th>
                <th class="hdrhax"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(128) %}
                <tr>
                    <td><pre>0x{{ '{:02x}'.format(i) }}</pre></td>
                    <td class="dec">{{ '{:d}'.format(i) }}</td>
                    {{ ascii(i) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="ascii">
        <caption>Windows-1252 ("ANSI")</caption>
        <thead>
            <tr>
                <th>Hex</th>
                <th>Dec</th>
                <th>Char</th>
                <th class="hdrhax"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(128, 256) %}
                <tr>
                    <td><pre>0x{{ '{:02x}'.format(i) }}</pre></td>
                    <td class="dec">{{ '{:d}'.format(i) }}</td>
                    {{ cp1252(i) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="ascii">
        <caption>Code page 437 ("OEM")</caption>
        <thead>
            <tr>
                <th>Hex</th>
                <th>Dec</th>
                <th>Char</th>
                <th class="hdrhax"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(128, 256) %}
                <tr>
                    <td><pre>0x{{ '{:02x}'.format(i) }}</pre></td>
                    <td class="dec">{{ '{:d}'.format(i) }}</td>
                    {{ cp437(i) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
