{% extends "base.html" %}
{% set is_blogpage = True %}

{% block title %}Blog - {{ SITENAME }}{% endblock %}
{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{% endblock %}

{% block content %}
    <h1 class="archives_hdr">Posts</h1>
    <div class="archives">
        {% for article in dates %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
            <span>{% include "includes/article_date.html" %}</span>
            <div>{{ article.summary }}</div>
        {% endfor %}
    </ul>
{% endblock %}
