<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block canonical_rel %}{% endblock %}

        <meta name="author" content="{{ AUTHOR }}" />
        {% block meta_extra %}
        {% endblock %}

        {% block opengraph %}
            <meta property="og:site_name" content="{{ SITENAME }}" />
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="{{ SITENAME }}"/>
            <meta property="og:url" content="{{ SITEURL }}"/>
            <meta property="og:description" content="{{ SITENAME }}"/>
            {% if OPEN_GRAPH_IMAGE %}
                <meta property="og:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
            {% endif %}
        {% endblock %}

        <style>
            .svgicon {
                width: 1em;
                height: 1em;
            }
            @supports(height: 1cap) {
                .svgicon {
                    vertical-align: middle;
                    margin-top: calc(1ex - 1cap);
                }
            }
        </style>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code.css" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css"/>

        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} ATOM Feed"/>
        {% endif %}
    </head>
    <body>
        <header class="tophdr">
            <nav>
                <ul>
                    <li{% if is_homepage %} class="active"{% endif %}><a href="{{ SITEURL }}/">Home</a></li>
                    <li{% if is_blogpage %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">Blog</a></li>
                    <li{% if page and page.is_toolpage %} class="active"{% endif %}><a href="{{ SITEURL }}/toolbox.html">Toolbox</a></li>
                    {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
                        {% if p.url and p.is_nav_page %}
                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                            {{ p.menulabel|default(p.title) }}
                        </a></li>
                        {% endif %}
                    {% endfor %}
                    {% for name, link in NAVLINKS %}
                        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <div class="maindiv">
            <main>
                {% block content %}{% endblock %}
            </main>
            {% block sidebar %}
                <div class="sidebar">
                    <header>
                        <svg class="svgicon"><use xlink:href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fa-solid.svg#link"></use></svg>
                        Links
                    </header>
                    <ul>
                        {% for text, url, fa, icon in SIDELINKS %}
                            <li><svg class="svgicon"><use xlink:href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fa-{{ fa }}.svg#{{ icon }}"></use></svg><a href="{{ url }}">{{ text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}
        </div>
        <footer>
            <div class="buttons">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/transrights.gif" alt="trans rights animated button">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/bestinbrowser.gif" alt="best viewed in a web browser button">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/csssux.gif" alt="css button">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/nojs.gif" alt="no javascript button">
            </div>
            {% if articles %}
                {% if articles[0].modified %}
                    {% set copy_date = articles[0].modified.strftime('%Y') %}
                {% else %}
                    {% set copy_date = articles[0].date.strftime('%Y') %}
                {% endif %}
            {% else %}
                {% set copy_date = '' %}
            {% endif %}
            <p>&copy; {{ copy_date }} {{ AUTHOR }}</p>
            <p>The articles on this website are published under the <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0</a> license. Information about other open-source licenses can be found <a href="{{ SITEURL }}/pages/credits.html">here</a>.</p>
        </footer>
    </body>
</html>
